
{% extends 'sekai_app/admin/admin_base.html' %}
{% block title %}Админка - Предметы{% endblock %}
{% block content %}
<h1 class="text-center mb-4">Управление Предметами</h1>
<div class="d-flex justify-content-between mb-3">
    <a href="{% url 'admin_sekai_items_create' %}" class="btn btn-success">Добавить Предмет</a>
</div>
<div class="row">
    {% for item in items %}
    <div class="col-md-4 mb-4">
        <div class="card bg-light">
            {% if item.image %}
                <img src="{{ item.image.url }}" class="card-img-top" alt="{{ item.name }}">
            {% else %}
                <p>Изображения нету</p>
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ item.name }}</h5>
                <p class="card-text">{{ item.description|truncatewords:15 }}</p>
                <div class="d-flex justify-content-between">
                    <a href="{% url 'admin_sekai_items_update' item.pk %}" class="btn btn-warning btn-sm">Обновить</a>
                    <form method="post" action="{% url 'admin_sekai_items_delete' item.pk %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm">Удалить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    <p class="text-center">Нет доступных предметов.</p>
    {% endfor %}
</div>
{% endblock %}
